.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.card-footer {
    text-align: center;
}

.card-text {
    padding: 2rem;
}

.center-btn {
    text-align: center;
}
